.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.388);
  border-bottom: solid 0.5px rgba(194, 194, 194, 0.427);
  padding: 0px 10px;
  font-size: 25px;
  font-weight: bolder;
 }

 .navbar a {
  text-decoration: none;
  color: rgba(78, 35, 35, 0.482);
  padding: 0px;
 }

 .navbar a:hover {
  color: rgba(78, 35, 35, 0.801);
 }
