.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(241, 241, 241, 0.753);
  border-bottom: solid 0.5px rgba(210, 210, 210, 0.523);
  padding: 0px 10px;
  font-size: 25px;
  font-weight: bolder;
 }

 .navbar a {
  text-decoration: none;
  color: rgba(70, 0, 0, 0.635);
  padding: 0px;
 }

 .navbar a:hover {
  color: rgba(62, 40, 40, 0.911);
 }
